
html{
    font-size:62.5%;
}

body{
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(100, 91, 83) 0%, rgb(235, 82, 82) 18.23%, rgb(247, 143, 47) 34.37%, rgb(244, 193, 81) 48.96%, rgb(82, 187, 118) 66.15%, rgb(38, 165, 215) 82.29%, rgb(224, 105, 183) 100%) repeat scroll 0% 0%;
}

h1{
    color:#ff66ff;
}

.header{
    color:cornflowerblue;
}

#head {
    color:deeppink;
}

h1::after{
    content:" is MOMO";
}

.text-section{
    /* font-size: 1.5em; */
    /* 16 * 1.5 */

    /*only relative to the html*/
    font-size: 1.6rem;
}

.text-section div{
    /* font-size: 1.5em; */
    /* 16 * 1.5 * 1.5 */
     /*only relative to the html*/
     font-size: 2.4rem;
}

button{
    padding: 2rem;;
}

button:hover{
    background-color: aqua;
}

button:focus{
    background-color: #ff66ff;
}