html{
    font-size: 62.5%;
}

// Variables
$primary:#676aaf;
$big-font:4rem;

body{
    background: $primary;
    font-size: $big-font;
}

// Mixin
@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button($padding,$background){
    padding: $padding;
    background: $background;
}