/* Global Styles*/

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 65.5%;;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 2.6rem;
}

li,
button,
label,
input,
p {
    font-size: 2rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3rem;
    font-weight: normal ;
}

h4,
h5 {
    font-size: 2.8rem;
}

a {
    color: white;
    text-decoration: none;
}

button {
    padding: 2rem 6rem;
    background: #4c6d97;
    border:none;
    color:white;
    font-size: 1.8rem;
    cursor: pointer;
}


/*Nav*/

.main-head{
    background: #131c27;
    color:white;
    
}

nav {
    min-height: 10vh;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    width:90%;
    margin:auto;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex: 1 1 40rem;
    display: flex;
    justify-content: space-around;
}

#logo{
    flex: 2 1 40rem;
    font-family: 'Pattaya', sans-serif;
    font-weight: 400;
}

/*Section Hero*/
.hero{
    min-height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.5), transparent),url('img/landing-page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h3 {
    padding: 5rem;
    line-height: 5.5rem;
}


@media (max-width:985px){
    html{
        font-size: calc(65.5% - 0.25vw);
    }
    nav{
        text-align: center;
    }
    #logo{    
        margin-bottom: 1.5rem;
    }
}

@media (min-width:100px) and (max-width: 475px) {
    nav{
        flex-direction: column;
        justify-content: start;
        flex:auto
    }
 
    nav ul{
        flex-direction: column;
        flex:auto;
        justify-content: start;
        align-items: center;
    }

    nav ul li{padding: 1rem;}

    #logo{
        flex: auto;
        margin-bottom: 1.5rem;
    }
}